@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

* {
  font-family: "Poppins";
}
body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 0px;
}
/* .information {
  overflow-y: scroll;
}
.information::-webkit-scrollbar {
  width: 20px;
} */


.blur {
  /* The blur value determines the strength of the blur effect */
  backdrop-filter: blur(5px);
}